//== Buttons
//

$btn-font-weight:                normal;

$btn-default-color:              #FFF;
$btn-default-bg:                 $gray-alt;
$btn-default-border:             $gray-alt;
$btn-default-hover:				$blue;